/**
*   This file contains custom styles for this site.
*
*/
a{
    color:lightskyblue;
}
a:visited{
    color: pink;
}
a:focus,a:active,a:hover{
    color:cyan;
}
footer{
    color: white;
}

.wy-nav-content-wrap,.wy-nav-content{
    color: white;
    background-color: rgb(31, 37, 31);
}
.wy-nav-side{
    background-color: #242b4b;
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #20317c;
}

#rtd-search-form{
    font-size: 2em
}